<html>
    <head>
        <link rel="stylesheet" href="NavBar.css" />
    </head>
    <body>
<nav class="navbar">
        <img class="navbar-image" src="../assets/logo.png" alt="navBar_image"  />
      
          <ul class="navbar-links">
            <li><a href="../pages/index.html" target="_parent">Home</a></li>
            <li><a href="../pages/To-Do.html" target="_parent">To-Do List</a></li>
            <li><a href="../pages/remainder.html" target="_parent">Remainder</a></li>
            <li><a href="../pages/note.html" target="_parent">Notes</a></li>
          </ul>
        </nav>
      
      </body>
</html>