.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0caff;
    padding: 0px 0px;
  }
  
  .navbar-image {
    width: 120px;
    height: auto;
    padding-left: 45px;
    border-radius: 1px;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-right: 20px;
  }
  
  .navbar-links li {
    display: inline-block;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #a357e8;
    font-size: 1.4rem;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-links li a:hover {
    color: #6f1ac0;
  }